# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# Assets (if you want to ignore generated images, but usually you want to keep them for README)
# assets/*.png